
Library/Artifacts/

Library/PackageCache/

Library/PlayerDataCache/

Library/ScriptAssemblies/

Library/ShaderCache/

Library/StateCache/

Library/TempArtifacts/

Library/ArtifactDB

Library/SourceAssetDB


Temp/
